footer {
  display: flex;
  justify-content: space-between;
}

header {
  display: flex;
  justify-content: space-between;
}

.header-nav-container {
  display: flex;
  justify-content: space-between;
}

.nav-icon-link {
  display: flex;
}

.main-header {
  display: flex;
  justify-content: space-between;
}

.main-container {
  display: flex;
}

.pointing-rotated-right {
  transform: rotate(270deg);
}
